.logon-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logon-container section.form {
  width: 100%;
  max-width: 350px;
  margin-right: 30px;
}

.logon-container section.form form {
  margin-top: 100px;
}

.logon-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
}

@media (max-width: 990px) {
  .heroes {
    display: none;
  }

  .logon-container  {
    justify-content: center;
  }

  .logon-container section.form {
    display: grid;
    grid-template-columns: 1fr 300px;
    align-items: center;
    justify-content: center;
    grid-gap: 70px;
  }
}

@media (max-width: 700px) {
  .logon-container section.form {
    display: flex;
    flex-direction: column;
  }
}
